@charset 'UTF-8';
/* Slider */


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    color: transparent;
    border: none;
    outline: none;
    background: #818181;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: #484848;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -10px;
}

[dir='rtl'] .slick-prev {
    right: -10px;
    left: auto;
}

.slick-prev:before {
    content: '';
    padding-left: 15px;
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -10px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -10px;
}

.slick-next:before {
    content: '';
    padding-right: 15px;
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 20px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 2px;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 26px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    content: '•';
    text-align: center;
    border: 2px solid rgba(181, 106, 148, 0);
    opacity: .45;
    background: rgba(0, 0, 0, 0.2);
        border-radius: 42px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    border: 2px solid #B56A94;
    background: #fff;
    color: transparent!important;
}